Flask==0.10.1
Flask-Script==0.6.6
Flask-WTF==0.9.4
Fabric==1.8.1

Jinja2==2.7.2
MarkupSafe==0.18
WTForms==1.0.5
Werkzeug==0.9.4
ecdsa==0.10
itsdangerous==0.23
paramiko==1.12.1
pycrypto==2.6.1
wsgiref==0.1.2
